<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>ManuTironis</title>


</head>

<body>

    <!-- Navigation -->
    <nav class="" role="navigation">

    </nav>

    <div id="container" style="width:100%;">                                   

    <div id="left" style="float:left; width:50%;"> 
    
        <img id="page_image" src="http://heml.mta.ca/lace/static/Images/Color/corpusscriptorum04nieb_color/corpusscriptorum04nieb_0272.jpg" alt="photo" style="width:100%">
    
    </div>                     
    
    <div id="right" style="float:right; width:50%;"> 
    
        <iframe frameborder="0" width="850px" height="1100px" src="http://heml.mta.ca/lace/text/static/Texts/corpusscriptorum04nieb/2013-07-21-13-28_weidmann4_combined_hocr_output/corpusscriptorum04nieb_0270.html"></iframe>
        
    </div>               
    
</div> 

    <!-- jQuery -->
    <script src="static/js/jquery.js"></script>

 
</body>

</html>
